<h2 mat-dialog-title>CC Comparator</h2>
<mat-dialog-content>
  <p>
    This is a comparator which helps you to comparing the spec between
    CharaChorder, Forge, and other devices which are often compared with them.
  </p>
  <h3>Notices</h3>
  <ol>
    <li><strong>Quietness</strong>: CC2 > CC1 > M4G</li>
    <li>
      You could learn more differences between CC2 and CC1 from the
      <a
        href="https://www.charachorder.com/products/cc2"
        target="_blank"
        rel="noopener"
        >CC2 Product Page</a
      >.
    </li>
    <li>
      It seems to me that other unmentioned specs of CC devices would be similar
      to those of CC1, and they would be marked with an * in the comparison
      table.
    </li>
    <li>
      You could further confirm the specs on the CharaChorder Discord server if
      you have any questions.
    </li>
    <li>
      Svalboard is not a product made by CharaChorder, but it's often compared
      with CharaChorder's 3D input devices, so I also listed it in the table.
    </li>
    <li>
      "???" are the specs which I am not sure about or cannot find information
      about. If you know of any helpful resources, please message me on Discord
      (Tangent Chang, &#64;andy23512).
    </li>
  </ol>
  <h3>Disclaimer</h3>
  <p>
    This site is not affiliated, associated, authorized, endorsed by, or in any
    way officially connected with CharaChorder. The official CharaChorder
    website and Forge Keyboard website can be found at
    <a href="https://www.charachorder.com/" target="_blank" rel="noopener"
      >https://www.charachorder.com/</a
    >
    and
    <a href="https://forgekeyboard.com/" target="_blank" rel="noopener"
      >https://forgekeyboard.com/</a
    >.
  </p>
  <h3>References</h3>
  @for (group of referenceGroups; track $index) {
    <h4>{{ group.name }}</h4>
    <ul>
      @for (reference of group.references; track $index) {
        <li>
          <a [href]="reference.url">{{ reference.name }}</a>
        </li>
      }
    </ul>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
