@if (valueType === 'object') {
  @switch (value.type) {
    @case ('number') {
      {{ value.inequalitySymbol || '' }} {{ value.value | number }}
      {{ value.unit || '' }}
    }
    @case ('boolean') {
      <mat-icon>{{ value.value ? 'check' : 'close' }}</mat-icon>
    }
    @case ('string') {
      {{ value.value }}
    }
    @case ('three-d-size') {
      {{ value.value.join('*') }} (mm)
    }
    @case ('number-range') {
      {{ value.value.min }}-{{ value.value.max }} {{ value.unit || '' }}
    }
  }
  {{ value.isInferred && '*' }}
  @if (value.crossReference) {
    <a href="#" (click)="openCrossReferenceDialog($event)">[ref]</a>
  }
} @else if (valueType === 'number') {
  {{ value | number }}
} @else if (valueType === 'boolean') {
  <mat-icon>{{ value ? 'check' : 'close' }}</mat-icon>
} @else {
  {{ value }}
}
