<mat-toolbar color="primary">
  CC Comparator
  <div class="spacer"></div>
  <button mat-icon-button (click)="openSettingDialog()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="openInformationDialog()">
    <mat-icon>information</mat-icon>
  </button>
</mat-toolbar>
<ag-grid-angular
  [theme]="theme"
  [rowData]="rowData"
  [columnDefs]="colDefs()"
  [autoSizeStrategy]="autoSizeStrategy"
  [isFullWidthRow]="isFullWidthRow"
  [fullWidthCellRenderer]="fullWidthCellRenderer"
/>
