<mat-dialog-content>
  <h3>Column Settings</h3>
  <div cdkDropList class="column-list" (cdkDropListDropped)="onDrop($event)">
    @for (device of devices(); track device.key) {
      <div cdkDrag class="column-item">
        <mat-icon class="drag-handle">drag_indicator</mat-icon>
        <mat-checkbox
          [color]="'primary'"
          [checked]="!device.hide"
          (change)="setHide(device.key, !$event.checked)"
        >
          {{ device.name.full }}
          @if (device.name.short) {
            ({{ device.name.short }})
          }
        </mat-checkbox>
      </div>
    }
  </div>
</mat-dialog-content>
